{:paths ["script"]
 :tasks {:clean {:task/type :main
                 :main ci-tests/clean}
         :lint {:task/type :babashka
                :args [-m lint/lint]
                :task/help "Usage: :lint

Lints sources."}
         :apply-import-vars
         {:task/type :babashka
          :args [-m apply-import-vars]
          :task/help "Usage: :apply-import-vars [gen-code|check]"}
         :ci-tests
         {:task/type :babashka
          :args [-m ci-tests]}}}
